<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Cat</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
      </head>
      <body>
        <h1>Jennifer Lopes</h1>
        <p>TJennifer Lopez, in full Jennifer Lynn Lopez, byname J.Lo, 
        (born July 24, 1969, Bronx, New York, U.S.), American actress 
        and musician who began appearing in films in the late 1980s and 
        quickly became one of the highest-paid Latina actresses in the 
        history of Hollywood. She later found crossover success in the 
        music industry with a series of pop albums.</p>
        <img src="/public/images/jl_2.jpeg" />
        <ul>
          <li><a href="/views/jlohome-page.html"></a></li>
        </ul>

      </body>
    </html>