<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo</title>
</head>
<body>
    <p>
        <img src="/public/images/jl_1.jpeg" alt="Lopes">
        <img src="/public/images/jl_2.jpeg" alt="Lopes">
        <img src="/jl_3.jpeg" alt="Lopes">
    </p>
    <ul>
        <li><a href="/views/jlohome-page.html"></a></li>
      </ul>
</body>
</html>