<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKS Jennifer Lopez</title>
</head>
<body>
    <h1>Discography</h1>
<p><b>Main articles: </b> Jennifer Lopez discography and List of songs recorded by Jennifer Lopez
    <ul>
        <li> On the 6 (1999)</li>
        <li>J.Lo (2001)</li>
        <li>This Is Me... Then (2002)</li>
        <li>Rebirth (2005)</li>
        <li>Como Ama una Mujer (2007)</li>
        <li> Brave (2007)</li>
        <li>Love? (2011)</li>
        <li>A.K.A. (2014)</li>
    </ul>
    </p>
    <ul>
        <li><a href="/">Back to Home</a></li>
      </ul>
</body>
</html>